@font-face {
    font-family: 'VarieGraphie'; //Sans Serif
    src: url('../../../components/fonts/VarygraphiePersonalUseOnlyRegular-nRWX1.otf') format('truetype');
}
  
@font-face {
    font-family: 'Hopkinson'; //Serif
    src: url('../../../components/fonts/HopkinsonRegular-Ea0Jn.otf') format('truetype');
}