
//? Main colors ::
$main-color-1: #002c23;
$main-color-2: lighten($main-color-1, 15%);
$main-bg-color: linear-gradient(to right, lighten($main-color-1, 10%) 30%, $main-color-2);

//? Fonts
$main-font: 'VarieGraphie', sans-serif;
$second-font: 'sans serif';
$other-font: 'Hopkinson';

$transition: .4s;
$active-button: $main-color-1;
$nav-zindex: 10;
$timer-zindex: 5;
$timer-dimention: 210px;
$c1-zindex: timer-zindex - 1;
$c2-zindex: timer-zindex - 2;
$c3-zindex: timer-zindex - 3;

@mixin top-banner-logo(){
    text-align: center;
    position: sticky;
    top: 0;
    padding-top: 5px;
    margin-bottom: 1.4rem;
    background: #002c23;
    width: 100vw;

        z-index: $nav-zindex;
        .logo{
            font-family: $main-font;
            margin-bottom: 1rem;
            color: $main-color-2;
            font-size: 2rem;
        }
}