@font-face {
  font-family: "VarieGraphie";
  src: url("../../../components/fonts/VarygraphiePersonalUseOnlyRegular-nRWX1.otf") format("truetype");
}
@font-face {
  font-family: "Hopkinson";
  src: url("../../../components/fonts/HopkinsonRegular-Ea0Jn.otf") format("truetype");
}
#greeting {
  width: 100%;
  height: 100vh;
  background: url("../../../components/img/main bg 1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#greeting #salut, #greeting #me {
  margin-top: -300px;
  display: none;
}
#greeting #salut h3, #greeting #me h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #000;
}
#greeting #salut h3 + h1, #greeting #me h3 + h1 {
  font-size: 3rem;
  font-family: "VarieGraphie", sans-serif;
  color: #033052;
}
#greeting #select-purpose {
  text-align: center;
  display: none;
}
#greeting #select-purpose__select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
  margin-top: 2.7rem;
  margin-bottom: 2.5rem;
}
#greeting #select-purpose__select button {
  border: none;
  transition: background 0.4s;
  padding: 1rem 2.3rem;
  cursor: pointer;
  font-weight: 550;
}
#greeting #select-purpose__select button:nth-child(1) {
  background: rgba(106, 180, 249, 0.7882352941); /*&:hover{background: royalblue}*/
}
#greeting #select-purpose__select button:nth-child(2) {
  background: rgba(255, 175, 204, 0.7882352941); /*&:hover{background: lighten(#a70842c9, 10%);}*/
}
#greeting #select-purpose__select button:nth-child(3) {
  background: rgba(205, 180, 219, 0.7882352941); /*&:hover{background: purple}*/
}
#greeting #select-purpose__select button:nth-child(4) {
  background: rgba(153, 217, 140, 0.7882352941); /*&:hover{background: darkgreen}*/
}
#greeting #select-purpose__select button img {
  width: 3rem;
}
#greeting #select-purpose #x {
  padding: 1rem 2.9rem;
  background: #002c23;
  border: none;
  cursor: pointer;
  font-weight: 550;
  border-radius: 50px;
}

#main-content {
  background: #002c23;
  padding-bottom: 70px;
}
#main-content header {
  height: 220px;
  position: relative;
  background-image: url("../../../components/img/sky.webp");
  background-size: cover;
  overflow-x: hidden;
}
@media (min-width: 600px) {
  #main-content header {
    height: 340px !important;
  }
}
#main-content header img {
  width: 120%;
  position: absolute;
  bottom: 0;
}
#main-content header .img1 {
  height: 100px;
  width: auto;
  top: 0;
}
#main-content header .img2 {
  left: 0;
  bottom: 30px;
}
#main-content .nav {
  text-align: center;
  position: sticky;
  top: 0;
  padding-top: 5px;
  margin-bottom: 1.4rem;
  background: #002c23;
  width: 100vw;
  z-index: 10;
}
#main-content .nav .logo {
  font-family: "VarieGraphie", sans-serif;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #007960;
  font-size: 2rem;
}
#main-content .nav__mixes-filter {
  overflow-x: scroll;
  display: flex;
}
@media (min-width: 600px) {
  #main-content .nav__mixes-filter {
    justify-content: center;
  }
}
#main-content .nav__mixes-filter button {
  padding: 1rem 2.4rem;
  white-space: nowrap;
  color: gray;
  border: none;
  background: none;
  cursor: pointer;
}
#main-content .nav__mixes-filter::-webkit-scrollbar {
  display: none;
}
#main-content #container > div {
  padding-bottom: 2rem;
}

#loadContent {
  height: 100vh;
  width: 100%;
  background-color: violet;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  animation: playing-music 60s linear infinite;
  z-index: 11;
}
#loadContent__close-section {
  background: none;
  border: none;
  font-size: 2.3rem;
  color: white;
  margin: 1rem;
}
#loadContent__timer {
  width: 210px;
  height: 210px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spread 4s linear infinite;
  z-index: 5;
}
@keyframes spread {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  50% {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.409), inset 0 0 5px 5px rgba(255, 255, 255, 0.409);
  }
  100% {
    box-shadow: 0 0 0 0 white;
  }
}
#loadContent__timer #time {
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#loadContent__timer #time h1 {
  font-size: 3rem;
}
#loadContent__timer #time h2 {
  display: block;
  margin: auto;
  margin-top: 1rem;
}
#loadContent__sounds {
  height: 70px;
  width: 90%;
  background: royalblue;
  margin: auto;
  margin-top: 200px;
  padding-left: 85px;
  position: relative;
}
#loadContent__sounds #add-sound {
  height: 70px;
  width: 70px;
  background: crimson;
  position: absolute;
  top: 0;
  left: 0;
}
#loadContent__buttons {
  position: absolute;
  bottom: 4%;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}
#loadContent__buttons #loadContent__play-stop {
  padding: 1rem 3rem;
}
#loadContent__buttons #loadContent__favorite {
  width: 45px;
  height: 45px;
}
#loadContent__buttons #loadContent__clock {
  width: 45px;
  height: 45px;
}
#loadContent__buttons #loadContent__play-stop, #loadContent__buttons #loadContent__favorite, #loadContent__buttons #loadContent__clock {
  border: 2px solid white;
  background: none;
  font-size: 1.5rem;
  border-radius: 25px;
  color: white;
}

.active-favorite-btn {
  border-color: red !important;
  color: red !important;
  background-color: rgba(255, 0, 0, 0.123) !important;
}

@keyframes playing-music {
  0% {
    background-position: top left;
  }
  50% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}
#toolbar {
  height: 70px;
  width: 100%;
  background: #141414;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}
#toolbar ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.4rem;
  list-style-type: none;
}
#toolbar ul li {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  position: relative;
  transition: color 0.4s;
  z-index: 1;
}
#toolbar img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  transition: 0.4s;
  z-index: 0;
}
#toolbar .active-toolbar-link {
  color: white !important;
}

#home > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 0 1rem;
}
#home > div .box {
  height: 150px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 9px;
}
#home > div .box::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.696) 5%, rgba(0, 0, 0, 0) 90%);
  position: absolute;
  bottom: 0;
}
#home > div .box__name {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  white-space: nowrap;
}
@media (min-width: 600px) {
  #home > div {
    grid-template-columns: repeat(3, 1fr);
  }
  #home > div .box {
    height: 180px;
  }
}

#create > div {
  padding: 0 1rem;
  padding-bottom: 8rem;
  background: linear-gradient(to bottom, #002c23, #141414);
}
#create > div h1 {
  margin: 1.8rem 0 2rem 0;
  color: white;
}
#create > div .sounds-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 11rem;
  row-gap: 1.7rem;
  margin-bottom: 3rem;
}
@media (min-width: 600px) {
  #create > div .sounds-gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 780px) {
  #create > div .sounds-gallery {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 9.5rem;
  }
}
#create > div .sounds-gallery .activeSound {
  background: linear-gradient(to right, #005f4c 30%, #007960) !important;
}
#create > div .sounds-gallery .item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0.8rem;
  text-align: center;
}
#create > div .sounds-gallery .item__thumb {
  width: 60px;
  height: 60px;
  background: #609966;
  border-radius: 1rem;
  color: white;
  display: inherit;
  align-items: inherit;
  justify-content: center;
  font-size: 2rem;
}
#create > div .sounds-gallery .item__name {
  color: rgb(176, 176, 176);
  font-size: 1.5rem;
  width: 80%;
  white-space: wrap;
  overflow: hidden;
  line-clamp: 2;
  margin: auto;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes infinite-scrolling {
  100%, 0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30%);
  }
}
#create > div .sounds-gallery .item__volume {
  width: 65%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  visibility: hidden;
}
#create > div .sounds-gallery .item__volume::-webkit-slider-runnable-track {
  background-color: #007960;
  border-radius: 23px;
  height: 3px;
}
#create > div .sounds-gallery .item__volume::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -3.8px; /* Centers thumb on the track */
  background-color: gray;
  border-radius: 5px;
  height: 12px;
  width: 12px;
}
#create > div .sounds-gallery .item__volume:focus::-webkit-slider-thumb {
  outline: 3px solid #8c2626;
  outline-offset: 0.125rem;
}
#create > div .sounds-gallery .item__volume:focus {
  outline: none;
}
#create > div .action-buttons {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  padding: 0.6rem 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: linear-gradient(to top, #141414, rgba(20, 20, 20, 0.5));
  z-index: 10;
}
#create > div .action-buttons button {
  font-size: 1.5rem;
  color: white;
  border: 2px solid white;
  background: none;
  font-size: 1.5rem;
  border-radius: 25px;
  height: 3.75rem;
  width: 3.75rem;
  text-align: center;
}
#create > div .action-buttons button:nth-child(2) {
  width: 7rem;
}

:root {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 14px; /* Font size for smaller screens */
  }
}
@media screen and (max-width: 480px) {
  :root {
    font-size: 12px; /* Font size for even smaller screens */
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 660px;
  min-width: 280px;
  background: #002c23;
}

.stopscrolling::-webkit-scrollbar {
  display: none !important;
}

@keyframes fade-out {
  0% {
    transform: translateY(5px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-5px);
    opacity: 0;
  }
}
.nav-active-button {
  background: linear-gradient(to right, #005f4c 30%, #007960) !important;
  color: white !important;
  font-weight: 500;
}

@media (min-width: 1024px) {
  body {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */