//! Assets ::
@import 'assets/typography';
@import 'assets/variables';

//! Partials ::
@import 'partials/greeting';
@import 'partials/main-content';

:root{
    font-size: 16px;
    @media screen and (max-width: 768px) {
        font-size: 14px; /* Font size for smaller screens */
    }
    @media screen and (max-width: 480px) {
        font-size: 12px; /* Font size for even smaller screens */
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 660px;
    min-width: 280px;
    background: $main-color-1;
}

.stopscrolling{
    &::-webkit-scrollbar{
        display: none !important;
    }
}

@keyframes fade-out{
    0%{
        transform: translateY(5px);
        opacity: .1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappear{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-5px);
        opacity: 0;
    }
}

.nav-active-button{
    background: $main-bg-color !important;
    color: white !important;
    font-weight: 500;
}

@media (min-width: 1024px){
    body{
        display: none;
    }
}