//! Assets ::
@import 'assets/typography';
@import 'assets/variables';

//! Partials ::
@import 'partials/greeting';
@import 'partials/main-content';
@import 'partials/toolbar';
@import 'partials/home-section';
@import 'partials/customized-section';
@import 'partials/create-section';
@import 'partials/settings-section';

:root{
    font-size: 16px;
    @media screen and (max-width: 768px) {
        font-size: 14px; /* Font size for smaller screens */
    }
    @media screen and (max-width: 480px) {
        font-size: 12px; /* Font size for even smaller screens */
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 660px;
    min-width: 280px;
    background: $main-color-1;  
}

.stopscrolling{
    &::-webkit-scrollbar{
        display: none !important;
    }
}

@keyframes fade-out{
    0%{
        transform: translateY(5px);
        opacity: .1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappear{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-5px);
        opacity: 0;
    }
}

.nav-active-button{
    background: $main-bg-color !important;
    color: white !important;
    font-weight: 500;
}

#screen_banner{
    display: none;
}

@media (min-width: 1024px){
    #greeting, #main-content{
        display: none !important;
    }
    body{
        height: 100vh;
        text-align: center;
        background: white;
        text-shadow: 2px 2px 4px #474747;
        padding: 2rem;

        #screen_banner{
            display: block;
            img{
                width: 40%;
                animation: floating 4s ease-in-out infinite;
                margin-bottom: 1rem;
            }
        }
    }

    @keyframes floating {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(0, 10px);
        }
        100% {
          transform: translate(0, 0);
        }
    }
}

#toast{
    padding: .6rem 1rem;
    border-radius: .5rem;
    background: $main-bg-color;
    color: white;
    font-size: 1.3rem;    
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    animation-timing-function: linear;
    animation-duration: .7s;
    display: none;
}

@keyframes displayToast{
    0%{
        bottom: 49%;
        opacity: 0;
    }
    100%{
        bottom: 50%;
        opacity: 1;
    }
}
@keyframes hideToast{
    0%{
        bottom: 50%;
        opacity: 1;
    }
    100%{
        bottom: 51%;
        opacity: 0;
    }
}