#create{
    & > div{
        padding: 0 1rem;
        padding-bottom: 8rem;
        background: linear-gradient(to bottom, $main-color-1, #141414);

        h1{
            margin: 1.8rem 0 2rem 0;
            color: white;
        }

        .sounds-gallery{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 11rem;
            row-gap: 1.7rem;
            margin-bottom: 3rem;

            @media (min-width: 600px){
                grid-template-columns: repeat(5, 1fr);
            }
            @media (min-width: 780px){
                grid-template-columns: repeat(6, 1fr);
                grid-auto-rows: 9.5em;
            }

            .activeSound{
                background: $main-bg-color !important;
            }
            
            .item{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                padding-bottom: .8rem;
                text-align: center;

                &__thumb{
                    width: 60px;
                    height: 60px;
                    background: #609966;
                    border-radius: 1rem;
                    color: white;
                    display: inherit;
                    align-items: inherit;
                    justify-content: center;
                    font-size: 2rem;
                }

                &__name{
                    color: rgb(176, 176, 176);
                    font-size: 1.5rem;
                    width: 80%;
                    white-space: wrap;
                    overflow: hidden;
                    // text-overflow: ellipsis;
                    line-clamp: 2;
                    margin: auto;
                    // animation-name: infinite-scrolling;
                    animation-duration: 4s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;

                    @keyframes infinite-scrolling {
                        100%, 0%{
                            transform: translateX(0);
                        }
                        50%{
                            transform: translateX(-30%);
                        }
                    }
                }

                &__volume{
                    width: 65%;
                    @include range-input();
                    visibility: hidden;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }

        .action-buttons{
            position: fixed;
            bottom: 70px;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            padding: .6rem 2rem;
            padding-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-content: center;
            background: linear-gradient(to top, #141414, rgba(#141414, .5));
            z-index: $nav-zindex;

            button{
                font-size: 1.5rem;
                color: white;
                border: 2px solid white;
                background: none;
                font-size: 1.5rem;
                border-radius: 25px;
                height: 3.75rem;
                width: 3.75rem;
                text-align: center;

                &:nth-child(2){
                    width: 7rem;
                }

                &:nth-child(2){
                    display: flex;
                    align-items: center;
                    width: auto;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    gap: 1rem;
                }
            }
        }
    }
}