#customized{

    .info{
        margin-top: 0rem;
        color: gray;
        font-size: 1.7rem;
        margin: auto;
    }

    div{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 1.8rem;
        padding: .5rem .6rem;
        display: none;
        color: gray;

        .thumb{
            height: 55px;
            width: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .second{
            display: inherit;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            
            button{
                color: gray;
                font-size: 1.6rem;
                border: none;
                background: none;
                padding: .4rem .6rem;
            }
            
            .name{
                display: block;
                font-size:1.9rem;
            }
        }
    }
}