#main-content{
    background: #002c23;
    padding-bottom: 70px;
    display: none;

    header{
        height: 220px;
        position: relative;
        background-image: url('../../../components/img/sky.jpg');
        background-size: cover;
        overflow-x: hidden;

        @media (min-width: 600px) {
            &{
                height: 340px !important;
            }
        }

        img{
            width: 120%;
            position: absolute;
            bottom: 0;
        }
        .img1{
            height: 100px;
            width: auto;
            top: 0;
        }
        .img2{
            left: 0;
            bottom: 30px;
        }
    }

    .nav{
        @include top-banner-logo();

        &__mixes-filter{
            overflow-x: scroll;
            display: flex;

            @media (min-width: 600px) {
                &{
                    justify-content: center;
                }
            }

            button{
                padding: 1rem 2.4rem;
                white-space: nowrap;
                color: gray;
                border: none;
                background: none;
                cursor: pointer;
            }

            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    #container{
        & > div{
            padding-bottom: 2rem;
        }
    }
}

.active-favorite-btn{
    border-color: red !important;
    color: red !important;
    background-color: rgba(255, 0, 0, 0.123) !important;
}

@keyframes playing-music{
    0%{
        left: 0;
    }
    50%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}

.timer{
    width: 100%;
    background: #141414;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: $nav-zindex + 10;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    visibility: hidden;

    p{
        margin-bottom: 1.8rem;
        color: white;
        font-size: 1.7rem;
        text-align: center;
    }

    div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
        gap: 1.5rem;
    }

    button{
        padding: 1rem 1.6rem;
        display: inline-block;
        font-size: 1.5rem;
        border: .2rem solid $main-color-1;
        background: none;
        color: gray;
        transition:background-color $transition;
    }
    .active_timer_button{
        background: $main-bg-color;
        color: white;
    }
}
