#main-content{
    background: #002c23;


    header{
        height: 220px;
        position: relative;
        background-image: url('../../../components/img/sky.webp');
        background-size: cover;
        overflow-x: hidden;

        @media (min-width: 600px) {
            &{
                height: 340px !important;
            }
        }

        img{
            width: 120%;
            position: absolute;
            bottom: 0;
        }
        .img1{
            height: 100px;
            width: auto;
            top: 0;
        }
        .img2{
            left: 0;
            bottom: 30px;
        }
    }

    #nav{
        // background: crimson;
        text-align: center;
        position: sticky;
        top: 0;
        padding: 5px 0;
        margin-bottom: 1.4rem;
        background: #002c23;
        z-index: $nav-zindex;

        &__title{
            font-family: $main-font;
            margin-bottom: 1rem;
            color: $main-color-2;
            font-size: 2rem;
        }

        &__mixes-filter{
            overflow-x: scroll;
            display: flex;

            @media (min-width: 600px) {
                &{
                    justify-content: center;
                }
            }

            button{
                padding: 1rem 2.4rem;
                white-space: nowrap;
                color: gray;
                border: none;
                background: none;
                cursor: pointer;
            }

            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    #container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding:0 1rem;
        padding-bottom: 2rem;

        .box{
            height: 150px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            background: {
                position: center;
                size: cover;
                repeat: no-repeat;
            };
            border-radius: 9px;

            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.696) 5%, rgba(0, 0, 0, 0) 90%);
                position: absolute;
                bottom: 0;
            }

            &__name{
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                white-space: nowrap;
            }
        }

        @media (min-width: 600px){
            &{
                grid-template-columns: repeat(3, 1fr);

                .box{
                    height: 180px;
                }
            }
        }
    }
}

#loadContent{
    height: 100vh;
    width: 100%;
    background-color: violet;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $nav-zindex + 1;
    display: none;
}

