#toolbar{
    height: $toolbar-height;
    width: 100%;
    background: #141414;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $nav-zindex;

    ul{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-size: 1.25rem;
        list-style-type: none;

        li{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: gray;
            position: relative;
            transition:color $transition;
            z-index: 1;

            i{
                margin-bottom: .5rem;
            }
        }
    }

    .active-toolbar-item{
        color: $main-color-2 !important;
    }
}